{%extends "base.html"%}
{%block content%}
<div class="jumbotron">
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
        <button class="panel-title">
          <fb:login-button scope="public_profile,email" onlogin="sendTokenToServer();">
          <h2>
            <a href='javascript:sendTokenToServer()'>Login with Facebook  </a>
          </h2>
          </fb:login-button>
        </button>
    </div>
</div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseLogIn" aria-expanded="{{login}}" aria-controls="collapseLogIn">
          <h2>Log in</h2>
        </a>
      </h4>
    </div>
    <div id="collapseLogIn" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
    {% with messages = get_flashed_messages(category_filter=["login"]) %}
    <form action="{{url_for('loginUser')}}" method = "post">
    <div class="form-group">
    <label for="logInName">Name:</label>
    <input type="text" class="form-control" name="logInName" value="{{messages[0]}}">
    </div>
    <div class="form-group">
      <label class="medium" for="logInPassword">Password</label>
      <input type="password" class="form-control" name="logInPassword" type="password">
      <div class="error">{{messages[1]}}
    </div>
    <br>
    <div class="form-group">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
    </form>
    {%endwith%}
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSignUp" aria-expanded="{{signup}}" aria-controls="collapseSignUp">
          <h2>Sign up</h2>
        </a>
      </h4>
    </div>
    <div id="collapseSignUp" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        {% with messages = get_flashed_messages(category_filter=["signup"]) %}
          <form action="{{url_for('signUp')}}" method="post">
            <div class="form-group">
              <label for="nameSignUp">Username</label>
              <input class="form-control" name="nameSignUp" value = "{{messages[0]}}">
              <div class="error">{{messages[1]}}</div>
            </div>
            <div class="form-group">
              <label for="passwordSignUp">Password</label>  
              <input class="form-control" type="password" name="passwordSignUp">
              <div class="error">{{messages[2]}}</div>
            </div>
            <div class="form-group">
               <label for="verifySignUp">Verify password</label>
               <input class="form-control" type="password" name="verifySignUp">
               <div class="error">{{messages[3]}}</div>
            </div>
            <div class="form-group">
              <label for="emailSignUp"> email</label>
              <input class="form-control" name="emailSignUp" value="{{messages[5]}}">
               <div class="error">{{messages[4]}}</div>
            </div>
            <br>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
          {%endwith%}
      </div>
    </div>
    
  </div>
</div>
</div>
<script type="text/javascript">
  if ({{signup}})
  {
    if ($('#collapseLogIn').hasClass("in"))
    {
      $('#collapseLogIn').collapse();
    }

    if (!$('#collapseSignUp').hasClass("in"))
    {
      $('#collapseSignUp').collapse();
    }
  }
  else {
    if (!$('#collapseLogIn').hasClass("in"))
    {
      $('#collapseLogIn').collapse();
    }

    if ($('#collapseSignUp').hasClass("in"))
    {
      $('#collapseSignUp').collapse();
    }
    
  }
</script>
<script>
  window.fbAsyncInit = function() {
  FB.init({
    appId      : '1083994831688580',
    cookie     : true,  // enable cookies to allow the server to access 
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.2' // use version 2.2
  });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function sendTokenToServer() {
    console.log(FB.getSession().access_token)
    var access_token = FB.getAuthResponse()['accessToken'];
    
    console.log(access_token)
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);
     $.ajax({
      type: 'POST',
      url: '/fbconnect?state={{STATE}}',
      processData: false,
      data: access_token,
      contentType: 'application/octet-stream; charset=utf-8',
      success: function(result) {
        // Handle or verify the server response if necessary.
        if (result) {
          $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
         setTimeout(function() {
          window.location.href = "/catalog";
         }, 4000);
          

      } else {
        $('#result').html('Failed to make a server-side call. Check your configuration and console.');
         }

      }
      
  });


    });

  }
</script>

{%endblock%}