{%extends "base.html"%}
{%block content%}
<div class="jumbotron">
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Log in
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
    <h2>Log in</h2>
    <form action="{{url_for('showWelcome')}}" method = "post">
    {% with messages = get_flashed_messages() %}

    <div class="form-group">
    <label for="logInName">Name:</label>
    <input type="text" class="form-control" name="logInName" placeholder="{{messages[0]}}">
    </div>

    <div class="form-group">
      <label class="medium" for="logInPassword">Password</label>
      <input type="password" class="form-control" name="logInPassword" type="password">
      <div class="error">{{messages[1]}}
    </div>
    <br>
    <div class="form-group">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
    {% endwith %}
  </form>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Sign up
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <h2>Sign up</h2>
          <form action="{{url_for('showSignUp')}}" method="post">
            {% with messages = get_flashed_messages() %}
            <div class="form-group">
              <label for="nameSignUp">Username</label>
              <input class="form-control" name="nameSignUp">
            </div>
            <div class="form-group">
              <label for="passwordSignUp">Password</label>  
              <input class="form-control" type="password" name="passwordSignUp">
            </div>
            <div class="form-group">
               <label for="verifySignUp">Verify password</label>
               <input class="form-control" type="password" name="verifySignUp">
               <div>{{error_verify}}</div>
            </div>
            <div class="form-group">
              <label for="emailSignUp"> email</label>
              <input class="form-control" name="emailSignUp">
              <div class="error">{{error_email}}</div>
            </div>
            <br>
            <button type="submit" class="btn btn-default">Submit</button>
            {%endwith%}
          </form>
      </div>
    </div>
  </div>
</div>
<div class="header-left">
<button>
  <fb:login-button scope="public_profile,email" onlogin="sendTokenToServer();">
  <a href='javascript:sendTokenToServer()'>Login with Facebook</a>
  </fb:login-button>
</button>
</div>
<div class="header-right" id="signInButton">
  <span class="g-signin"
    data-scope="openid email"
    data-clientid="1096881345694-1nkmeiv375nud6l7j5g5726mqs3g3jov.apps.googleusercontent.com"
    data-redirecturi="postmessage"
    data-accesstype="offline"
    data-cookiepolicy="single_host_origin"
    data-approvalprompt="force">
  </span>
</div>
</div>
{%endblock%}