{%extends "base.html"%}
{%block content%}
<div class="jumbotron">
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <fb:login-button scope="public_profile,email" onlogin="connectServer();">
      </fb:login-button>
    </div>
    <div class="error" id="errorFbLogin">
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseLogIn" aria-expanded="{{login}}" aria-controls="collapseLogIn">
          <h2>Log in</h2>
        </a>
      </h4>
    </div>
    <div id="collapseLogIn" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
    {% with messages = get_flashed_messages(category_filter=["login"]) %}
    <form action="{{url_for('loginUser')}}" method = "post">
    <div class="form-group">
    <label for="logInName">Name:</label>
    <input type="text" class="form-control" name="logInName" value="{{messages[0]}}">
    </div>
    <div class="form-group">
      <label class="medium" for="logInPassword">Password</label>
      <input type="password" class="form-control" name="logInPassword" type="password">
      <div class="error">{{messages[1]}}
    </div>
    <br>
    <div class="form-group">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
    </form>
    {%endwith%}
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSignUp" aria-expanded="{{signup}}" aria-controls="collapseSignUp">
          <h2>Sign up</h2>
        </a>
      </h4>
    </div>
    <div id="collapseSignUp" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        {% with messages = get_flashed_messages(category_filter=["signup"]) %}
          <form action="{{url_for('signUp')}}" method="post">
            <div class="form-group">
              <label for="nameSignUp">Username</label>
              <input class="form-control" name="nameSignUp" value = "{{messages[0]}}">
              <div class="error">{{messages[1]}}</div>
            </div>
            <div class="form-group">
              <label for="passwordSignUp">Password</label>  
              <input class="form-control" type="password" name="passwordSignUp">
              <div class="error">{{messages[2]}}</div>
            </div>
            <div class="form-group">
               <label for="verifySignUp">Verify password</label>
               <input class="form-control" type="password" name="verifySignUp">
               <div class="error">{{messages[3]}}</div>
            </div>
            <div class="form-group">
              <label for="emailSignUp"> email</label>
              <input class="form-control" name="emailSignUp" value="{{messages[5]}}">
               <div class="error">{{messages[4]}}</div>
            </div>
            <br>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
          {%endwith%}
      </div>
    </div>
    
  </div>
</div>
</div>
<script>
  // This is called with the results from from FB.getLoginStatus().
  function connectServer() {
    var access_token = FB.getAuthResponse()['accessToken'];
    FB.api('/me', function(response) {
      $.ajax({
        type: 'POST',
        url: '/fblogin?state={{STATE}}',
        processData: false,
        data: access_token,
        contentType: 'application/octet-stream; charset=utf-8',
        success: function(result) {
          // Handle or verify the server response if necessary.
          if(result) {
            window.location.href = "/fbsuccess";
          }
          else {
            console.log('not success')
            $('#errorFbLogin').html('Facebook login failed');
          }
        }
      });
    });
  }
 

  window.fbAsyncInit = function() {
    FB.init({
      appId      : '858989607565199',
      cookie     : true,  // enable cookies to allow the server to access 
      xfbml      : true,  // parse social plugins on this page
      version    : 'v2.7' // use graph api version 2.5
    });
  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
  // Fleiri föll.

</script>
<script type="text/javascript">
  if ({{signup}})
  {
    if ($('#collapseLogIn').hasClass("in"))
    {
      $('#collapseLogIn').collapse();
    }

    if (!$('#collapseSignUp').hasClass("in"))
    {
      $('#collapseSignUp').collapse();
    }
  }
  else {
    if (!$('#collapseLogIn').hasClass("in"))
    {
      $('#collapseLogIn').collapse();
    }

    if ($('#collapseSignUp').hasClass("in"))
    {
      $('#collapseSignUp').collapse();
    }
    
  }
</script>

<div id="status">
</div>
{%endblock%}